.add-to-cart-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: 50px;
}

.add-to-cart-button{
  width: 91%;
  height: 100%;
  background-color: var(--Orange);
  color: var(--Black);
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: var(--Black);
  font-weight: 800;
  
}
.add-to-cart-button img {
  filter: invert(23%) sepia(95%) saturate(743%) hue-rotate(180deg) brightness(90%) contrast(90%);
  width: 20px;
}

