.add-to-cart-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 10px 15px;
  height: 50px;
}

.add-to-cart-button{
  width: 91%;
  height: 100%;
  background-color: var(--Orange);
  color: var(--Black);
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
