.image-carousel{
  display: grid;
  min-height: 50px;
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(3,100px);
}
.image-carousel-image{
  grid-column: 1/4;
  grid-row: 1/5;
  
}
.image-carousel-back-btn{
  grid-column: 2/2;
}
.image-carousel-image img{
  width: 100%;
  
}