.image-carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-carousel-image{
  max-width: 300px;
}
.image-carousel-image img{
  max-width: 100%;
}
