.image-carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-carousel-image{
  max-width: 300px;
  position: relative;
}
.image-carousel-image img{
  max-width: 350px;
}
.image-carousel-back-btn{
  position: fixed;
  left: 10px;
  z-index: 1;
  display: none;
}
.image-carousel-forward-btn{
  position: fixed;
  right: 10px;
  z-index: 1;
  display: none;
}
