header {
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px;
  justify-content: center; 
  align-items: center; 
  min-height: 70px;
}

.header-img {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
}

@media (min-width: 700px) {
  header{
    display: grid;
    grid-template-columns: 50px 1fr 50px 50px;
  }
  .header-img:nth-child(1) img {
    display: none;
  }
  .header-img:nth-child(1) img {
    grid-column: 1 / span 2;
  }
}

header img {
  width: 24px;
}

.header-img:nth-child(1) img {
  width: 20px;
}

.header-title {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -1px;
  display: flex;
  margin-top: -5px; 
}

.header-cart{
  height: 30px;
  position: relative;
}

.header-cart .item-quantity{
  position: absolute;
  top:-1px;
  right: 4px;
  color: var(--White);
  background-color: var(--Orange);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
}

