.menu-bar{
  z-index: 100000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -600px; /* Hidden off-screen initially */
  width: 50%;
  background-color: var(--White);
  padding: 20px;
  transition: transform 0.3s ease; /* Smooth transition for sliding */
  box-shadow: 0 1px 0 150px rgba(0, 0, 0, 0.75);
  display: block; /* Always displayed, but shifted off-screen */
}
.menu-bar img{
  margin-bottom: 15px;
}
.menu-bar div{
  font-weight: 700;
 margin-top: 20px;
}
.menu-bar-show{
  transform: translateX(500px);
}
