:root{
  /* ### Primary */
--Orange: hsl(26, 100%, 55%);
--Paleorange: hsl(25, 100%, 94%);
/* ### Neutral */
--Verydarkblue: hsl(220, 13%, 13%);
--Darkgrayishblue: hsl(219, 9%, 45%);
--Grayishblue: hsl(220, 14%, 75%);
--Lightgrayishblue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
/* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%); */
--KumbhSans: font-family:('Kumbh Sans');
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
  margin: 0;
  font-weight: var(--KumbhSans);
}
header{
  border: 1px solid red;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
header img{
  width: 10px;
}