:root{
  /* ### Primary */
  --Orange: hsl(26, 100%, 55%);
  --Paleorange: hsl(25, 100%, 94%);
  /* ### Neutral */
  --Verydarkblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body {
  margin: 0;
  font-family:'Kumbh Sans', Arial, sans-serif; 
}

header {
  display: flex; /* Changed from grid to flex */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically *//* Optional: Adds space between child elements */
  min-height: 50px;
  padding: 0;
}

.header-img {
  border: 1px solid red;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 24px;
}

.header-img:nth-child(1) img {
  width: 20px;
}

.header-title {
  height: auto;
  width: 300px;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: start;
}